@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand: #6d28d9;
    --color-brand-soft: #f4f0ff;
    --color-brand-muted: #9b87c9;
}
